
body {
    font-family: sans-serif;
    background-color: #dedede;
    color: #333;
    padding: 20px 0 28px 0;
    margin: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .app-title {
    text-align: center;
    font-weight: normal;
    font-size: 2.6rem;
  }
  
  .animal {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .animal h4 {
    margin: 0 0 6px 0;
  }
  
  .pet-photo {
    float: left;
    width: 40%;
    margin-right: 15px;
  }
  .pet-photo2 {
   text-align: center;
    width: 40%;
    margin-right: 15px;
    
  }
  
  .pet-name {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
  }
  
  .species {
    font-size: 0.9rem;
    color: #888;
    vertical-align: middle;
  }
  
  .foods-list {
    margin: 0;
    padding: 0;
    position: relative;
    left: 17px;
    font-size: 0.85rem;
    line-height: 1.5;
  }
  
  .footer {
    font-size: 0.7rem;
    color: #888;
    text-align: center;
    margin: 0;
  }
  header
{
    height: 65px;
    background: #000;
}
nav
{
  width: 500px;
  height: 65px;
  background: #000;
  display:inline-block;
  float: right;
}  
nav a 
{
   line-height: 65px;
   text-decoration: none;
   font-family: 'Roboto Slab', serif;
   font-weight: 300;
   padding-left: 30px;
   padding-right: 30px;
   color: #50adb5;
}
h1 
{
    font-family: 'Courgette', cursive;
    margin-left: 30px ;
    line-height: 65px;
    font-weight: normal;
    display:inline-block;
    margin: 0px;
    padding: 0px;
    color: #fff;
}
h3
{
    font-family: 'Courgette', cursive;
    margin-left: 30px ;
    line-height: 65px;
    font-weight: normal;
    display:inline-block;
    margin: 0px;
    padding: 0px;
    color: rgb(39, 36, 36);
}
.pet-name2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
  background: url('img/pexels-photo-807598.jpeg');
}
img.lower
{
height: 20%;
width: 20%;
}
.gallery{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 30px;


}
.img2 {
  transition: 0.5s all ease-in-out;
 }
 .gallery2{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   margin: 0 30px;
 }
 .card-
.card-inner{
  margin-left: 4rem;
}
/* Style inputs with type="text", select elements and textareas */
.input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  
}

/* Style the submit button with a specific background color etc */
/* .input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  text-align: center;
} */

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
  display: block;
 text-align: center;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.textarea{
  display: block;
  margin-left:15px;
  margin-right:15px;
}
.textarea2{
  display: block;
  margin-left:15px;
  margin-right:15px;
}

.pet-photo4{
  margin-bottom:15px;
  display: block;
 text-align: center;
}
.question{
  height: 20%;
  width: 20%;
}
.animalques {
  width: 350px;
  height: 350px;
  padding: 20px;
  float: left;
  margin-top:15px;
  margin-left:15px;
  margin-right:15px;
  margin-bottom:15px;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.pet-nameques{
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}
.pet-photoques {
  position: relative;
  width: 60%;
 height: 60%;
 
}
